<% content_for :title do  %>
  <div id="map_name"><%= @map_name %></div>
<% end %>

<%= render 'search' %>

<% content_for :action_wrapper do %>
  <div data-toggle="tooltip" data-placement="bottom" title="Создать связь">
    <%= image_tag "connect_icon.svg", id: "ruler_button", class: "btn no-padding m-r-xs" %>
  </div>
  <div data-toggle="tooltip" data-placement="bottom" title="Добавить объект">
  <%= image_tag "add_icon.svg", id: "add_button", class: "btn no-padding m-r-xs" %>
  </div>
  <div data-toggle="tooltip" data-placement="bottom" title="Переключить режим">
  <%= image_tag "lock_icon.svg", id: "switch_mode_button", class: "btn no-padding m-r-xs" %>
  </div>
  <div data-toggle="tooltip" data-placement="bottom" title="Удалить объект">
  <%= image_tag "delete_icon.svg", id: "delete_button", class: "btn no-padding m-r-xs" %>
  </div>
<% end %>

<div class="ibox-content">
  <div id="canvas_wrapper" class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>

  <div id="confirm_deleting_box" class="confirm-box">
    <div class="confirm-box-message">
      <div class="img-wrapper">
        <%= image_tag "delete_icon_white.svg" %>
      </div>
      <span>Удаление объекта</span>
    </div>
    <div class="confim-box-confirmation-wrapper">
      Удалить объект <span id="confirm_box_device_name"></span> ?
    </div>
    <div class="confirm-box-buttons-wrapper">
      <button id="confirm_box_close_button" class="left-button">Нет, оставить</button>
      <button id="confirm_box_delete_button" class="right-button">Да, удалить</button>
    </div>
  </div>
</div>
