<% content_for :title do  %>
  <div id="map_name"><%= @map_name %></div>
<% end %>

<%= render 'search' %>

<% content_for :action_wrapper do %>
  <div data-toggle="tooltip" data-placement="bottom" title="Создать связь" id="ruler_button">
    <%= image_tag "connect_icon.svg", class: "btn no-padding m-r-xs", id: "ruler_button_active_img" %>
    <%= image_tag "connect_icon_grey.svg", class: "btn no-padding m-r-xs control-button-inactive", id: "ruler_button_inactive_img" %>
  </div>
  <div data-toggle="tooltip" data-placement="bottom" title="Добавить объект" id="add_button">
    <%= image_tag "add_icon.svg", class: "btn no-padding m-r-xs", id: "add_button_active_img" %>
    <%= image_tag "add_icon_grey.svg", class: "btn no-padding m-r-xs control-button-inactive", id: "add_button_inactive_img" %>
  </div>
  <div data-toggle="tooltip" data-placement="bottom" title="Переключить режим" id="switch_mode_button">
    <%= image_tag "lock_icon.svg", class: "btn no-padding m-r-xs", id: "switch_mode_button_active_img" %>
    <%= image_tag "lock_icon_grey.svg", class: "btn no-padding m-r-xs control-button-inactive", id: "switch_mode_button_inactive_img" %>
  </div>
  <div data-toggle="tooltip" data-placement="bottom" title="Удалить объект" id="delete_button">
    <%= image_tag "delete_icon.svg", class: "btn no-padding m-r-xs", id: "delete_button_active_img" %>
    <%= image_tag "delete_icon_grey.svg", class: "btn no-padding m-r-xs control-button-inactive", id: "delete_button_inactive_img" %>
  </div>
<% end %>

<div class="ibox-content">
  <div id="canvas_wrapper" class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>

  <div id="confirm_deleting_box" class="confirm-box">
    <div class="confirm-box-message">
      <div class="img-wrapper">
        <%= image_tag "delete_icon_white.svg" %>
      </div>
      <span>Удаление объекта</span>
    </div>
    <div class="confim-box-confirmation-wrapper">
      Удалить объект <span id="confirm_box_device_name"></span> ?
    </div>
    <div class="confirm-box-buttons-wrapper">
      <button id="confirm_box_close_button" class="left-button">Нет, оставить</button>
      <button id="confirm_box_delete_button" class="right-button">Да, удалить</button>
    </div>
  </div>

  <div id="devices_list_view_wrapper" class="devices-list-view-wrapper">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Состояние</th>
          <th>Имя</th>
          <th>IP</th>
          <th>Тип</th>
          <th>Время изменения состояния</th>
          <th>Последнее состояние</th>
        </tr>
      </thead>
      <tbody id="list_view_table_body">
      </tbody>
    </table>

  </div>
</div>
