<%= javascript_include_tag "maps/maps.js" %>

<% content_for :head_buttons do %>
  <div class="head-buttons-wrapper">
    <button id="list_view_button" class="left-button">
      <span id="list_view_not_active" class="list-view-not-active"><%= image_tag('view_list_icon_not_active.svg') %></span>
      <span id="list_view_active" class="list-view-active"><%= image_tag('view_list_icon_active.svg') %></span>
      список
    </button>
    <button id="map_view_button" class="right-button head-button-active">
      <span id="map_view_not_active" class="map-view-not-active"><%= image_tag('network_icon_not_active.svg') %></span>
      <span id="map_view_active" class="map-view-active"><%= image_tag('network_icon_active.svg') %></span>
      карта
    </button>
  </div>
<% end %>

<% content_for :title do  %>
  <div id="map_name" class="map-name"><%= @map_name %></div>
<% end %>

<% content_for :scaling_buttons do %>
  <div class="scale-wrapper">
    <%= image_tag "zoom_out.svg", id: "scale_minus", class: "zoom-out-img" %>
    <label id="scale_percentage_label" class="percentage_label">100%</label>
    <%= image_tag "zoom_in.svg", id: "scale_plus", class: "zoom-in-img" %>
  </div>
<% end %>

<% content_for :action_wrapper do %>
  <!-- edit map button -->
  <div data-toggle="tooltip" data-placement="bottom" title="Редактировать карту" id="edit_map_button" class="edit-map-button">
    <%= image_tag "edit_icon_neutral.svg", class: "btn no-padding neutral-icon" %>
    <%= image_tag "edit_icon_hover.svg", class: "btn no-padding hover-icon" %>
  </div>
  <!-- add button -->
  <div data-toggle="tooltip" data-placement="bottom" title="Добавить объект" id="add_button" class="control-edit-button">
    <%= image_tag "add_icon_active.svg",
                  class: "btn no-padding m-r-xs control-button add-control-button",
                  id: "add_button_active_img" %>
    <%= image_tag "add_icon_inactive.svg",
                  class: "btn no-padding m-r-xs control-button add-control-button",
                  id: "add_button_inactive_img" %>
    <%= image_tag "add_icon_hover.svg",
                  class: "btn no-padding m-r-xs control-button add-control-button",
                  id: "add_button_hover_img" %>
    <%= image_tag "add_icon_neutral.svg",
                  class: "btn no-padding m-r-xs control-button add-control-button control-button-neutral",
                  id: "add_button_neutral_img" %>
  </div>
  <!-- ruler button -->
  <div data-toggle="tooltip" data-placement="bottom" title="Создать связь" id="ruler_button" class="control-edit-button">
    <%= image_tag "connect_icon_active.svg",
                  class: "btn no-padding m-r-xs ruler-control-button control-button",
                  id: "ruler_button_active_img" %>
    <%= image_tag "connect_icon_inactive.svg",
                  class: "btn no-padding m-r-xs ruler-control-button control-button",
                  id: "ruler_button_inactive_img" %>
    <%= image_tag "connect_icon_hover.svg",
                  class: "btn no-padding m-r-xs ruler-control-button control-button",
                  id: "ruler_button_hover_img" %>
    <%= image_tag "connect_icon_neutral.svg",
                  class: "btn no-padding m-r-xs ruler-control-button control-button control-button-neutral",
                  id: "ruler_button_neutral_img" %>
  </div>
  <!-- delete button -->
  <div data-toggle="tooltip" data-placement="bottom" title="Удалить объект" id="delete_button" class="control-edit-button">
    <%= image_tag "delete_icon_active.svg",
                  class: "btn no-padding m-r-xs control-button delete-control-button",
                  id: "delete_button_active_img" %>
    <%= image_tag "delete_icon_inactive.svg",
                  class: "btn no-padding m-r-xs control-button delete-control-button",
                  id: "delete_button_inactive_img" %>
    <%= image_tag "delete_icon_hover.svg",
                  class: "btn no-padding m-r-xs control-button delete-control-button",
                  id: "delete_button_hover_img" %>
    <%= image_tag "delete_icon_neutral.svg",
                  class: "btn no-padding m-r-xs control-button delete-control-button control-button-neutral",
                  id: "delete_button_neutral_img" %>
  </div>
  <!-- complete editing -->
  <div data-toggle="tooltip" data-placement="bottom" title="Завершить редактирование" id="complete_editing" class="control-edit-button">
    <%= image_tag "save_icon_neutral.svg",
                  class: "btn no-padding m-r-xs",
                  id: "complete_editint_neutral_img" %>
    <%= image_tag "save_icon_hover.svg",
                  class: "btn no-padding m-r-xs control-button",
                  id: "complete_editint_hover_img" %>
  </div>
<% end %>

<div class="ibox-content">
  <div id="canvas_wrapper" class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>

  <div id="confirm_deleting_box" class="confirm-box">
    <div class="confirm-box-message">
      <div class="img-wrapper">
        <%= image_tag "delete_icon_white.svg" %>
      </div>
      <span id="confirm_box_message_text">Удаление объекта</span>
    </div>
    <div class="confim-box-confirmation-wrapper">
      <span id="confirm_box_before_name_message">Удалить объект</span><span id="confirm_box_device_name"></span>
    </div>
    <div class="confirm-box-buttons-wrapper">
      <button id="confirm_box_close_button" class="left-button">Нет, оставить</button>
      <button id="confirm_box_delete_button" class="right-button">Да, удалить</button>
    </div>
  </div>

  <div id="devices_list_view_wrapper" class="devices-list-view-wrapper">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Состояние</th>
          <th>Имя</th>
          <th>IP</th>
          <th>Тип</th>
          <th>Время изменения состояния</th>
          <th>Последнее состояние</th>
        </tr>
      </thead>
      <tbody id="list_view_table_body">
      </tbody>
    </table>
  </div>
</div>
