<% content_for :title do  %>
  <div id="map_name"><%= @map_name %></div>
<% end %>

<%= render 'search' %>

<% content_for :action_wrapper do %>
  <%= image_tag "connect_icon.svg", id: "ruler_button", class: "btn no-padding m-r-xs" %>
  <%= image_tag "add_icon.svg", id: "add_button", class: "btn no-padding m-r-xs" %>
  <%= image_tag "lock_icon.svg", id: "switch_mode_button", class: "btn no-padding m-r-xs" %>
  <%= image_tag "delete_icon.svg", id: "delete_button", class: "btn no-padding m-r-xs" %>
<% end %>

<div class="ibox-content">
  <div id="canvas_wrapper" class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>
</div>
