<div id="head_wrapper" class="row wrapper border-bottom white-bg page-heading head-wrapper <%= class_for('body_navbar') != '' ? 'width96' : 'width88' %>">
  <div class="col-lg-6 col-md-6">
    <%= yield(:head_buttons) %>
    <h2 class="map-title"><%= yield(:title) %></h2>
    <%= yield(:scaling_buttons) %>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="m-t-md pull-right">
      <div class="head-controll-buttons">
      <%= yield(:action_wrapper) %>
      </div>
    </div>
  </div>
</div>
