<div id="right-sidebar">
  <div class="sidebar-container">
    <div class="tab-content whole-info">
      <div id="close_whole_info_button_top" class="close-whole-info-button-top">
        <%= image_tag "close_button.svg" %>
      </div>
      <div id="tab-1" class="tab-pane active">

        <div id="sidebar_title" class="sidebar-title">
          <label>Имя:</label>
          <h3 id="whole_info_name" class="whole-info-name"></h3>
          <label>IP-адрес:</label>
          <div id="whole_info_ip" class="whole-info-ip-address"></div>
          <div id="whole_info_device_type" class="whole-info-device-type"></div>
        </div>

        <div class="popup-window-body">
          <div class="whole-info-content-wrapper">
            <label>Адрес:</label>
            <div id="whole_info_address"></div>
            <hr>
            <label>Описание:</label>
            <div id="whole_info_description"></div>
            <hr>
            <label>Контакты:</label>
            <div id="whole_info_contacts"></div>
            <hr>
            <div id="device_type_wrapper">
              <select id="device_type_input" class="form-control device-type-input">
                <option>Radio</option>
                <option>Switch</option>
                <option>Workstation</option>
                <option>Server</option>
                <option>Subnet</option>
                <option>Printer</option>
                <option>Camera</option>
                <option>L3</option>
                <option>Router</option>
                <option>Scanner</option>
                <option>Fax</option>
                <option>Ups</option>
                <option>Converter</option>
              </select>
            </div>
            <hr>
            <div>
              <label>Мониторинг:</label>
              <div class="checkbox-input-wrapper">
                <input type="checkbox" autocomplete="off" id="whole_info_monitored_checkbox" class="whole-info-monitored-checkbox"></input>
                <label id="whole_info_monitored_text"></label>
              </div>
            </div>
          </div>
        </div>

        <div class="whole-info-buttons-wrapper">
          <div id="close_whole_info_button_bottom" class="close-whole-info-button-bottom">
            <div>Закрыть</div>
          </div>
          <div id="edit_device_button" class="whole-info-icon-button" data-toggle="tooltip" data-placement="top" title="Редактировать прибор">
            <img class="neutral-icon" src="<%= asset_path('edit_icon_neutral.svg') %>">
            <img class="hover-icon" src="<%= asset_path('edit_icon_hover.svg') %>">
          </div>
          <div id="save_changes_button" class="whole-info-icon-button save-changes-btn" data-toggle="tooltip" data-placement="top" title="Сохранить изменения">
            <img class="neutral-icon" src="<%= asset_path('save_icon_disk_neutral.svg') %>">
            <img class="hover-icon" src="<%= asset_path('save_icon_disk_hover.svg') %>">
          </div>
          <div id="whole_box_delete_button" class="whole-info-icon-button" data-toggle="tooltip" data-placement="top" title="Удалить прибор">
            <img class="neutral-icon" src="<%= asset_path('delete_icon_neutral.svg') %>">
            <img class="hover-icon" src="<%= asset_path('delete_icon_hover.svg') %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
