<div id="right-sidebar">
  <div class="sidebar-container">
    <div class="tab-content whole-info">
      <div id="close_whole_info_button_top" class="close-whole-info-button-top">
        <%= image_tag "close_button.svg" %>
      </div>
      <div id="tab-1" class="tab-pane active">

        <div id="sidebar_title" class="sidebar-title">
          <label>Имя:</label>
          <h3 id="whole_info_name" class="whole-info-name"></h3>
          <label>IP-адрес:</label>
          <div id="whole_info_ip" class="whole-info-ip-address"></div>
          <div id="whole_info_device_type" class="whole-info-device-type"></div>
        </div>

        <div class="tabs-container inside-tabs">
          <ul class="nav nav-tabs">
            <li id="rightside_bar_info_button" class="custom-tab active" data-toggle="tooltip" data-placement="bottom" title="Информация">
              <a id="rightside_bar_tab_link" data-toggle="tab" data-href="tab_1">
                <i class="fa fa-info"></i>
              </a>
            </li>
            <li id="rightside_bar_logs_button" class="custom-tab" data-toggle="tooltip" data-placement="bottom" title="Логи">
              <a id="rightside_bar_tab_link" data-toggle="tab" data-href="tab_2">
                <i class="fa fa-file-text"></i>
              </a>
            </li>
            <li id="rightside_bar_tasks_button" class="custom-tab" data-toggle="tooltip" data-placement="bottom" title="Задачи">
              <a id="rightside_bar_tab_link" data-toggle="tab" data-href="tab_3">
                <i class="fa fa-tasks"></i>
              </a>
            </li>
            <li id="rightside_bar_photos_button" class="custom-tab" data-toggle="tooltip" data-placement="bottom" title="Фото">
              <a id="rightside_bar_tab_link" data-toggle="tab" data-href="tab_4">
                <i class="fa fa-camera"></i>
              </a>
            </li>
          </ul>
          <div class="popup-window-body">
            <div id="rightside_bar_tab_1" class="tab-pane">
              <div class="whole-info-content-wrapper">
                <label>Адрес:</label>
                <div id="whole_info_address"></div>
                <hr>
                <label>Hostname:</label>
                <div id="whole_info_host_name"></div>
                <hr>
                <label>Описание:</label>
                <div id="whole_info_description"></div>
                <hr>
                <label>Контакты:</label>
                <div id="whole_info_contacts"></div>
                <hr>
                <div id="device_type_wrapper">
                  <select id="device_type_input" class="form-control device-type-input">
                    <option>Radio</option>
                    <option>Switch</option>
                    <option>Workstation</option>
                    <option>Server</option>
                    <option>Subnet</option>
                    <option>Printer</option>
                    <option>Camera</option>
                    <option>L3</option>
                    <option>Router</option>
                    <option>Scanner</option>
                    <option>Fax</option>
                    <option>Ups</option>
                    <option>Converter</option>
                  </select>
                </div>
                <hr>
                <div>
                  <label>Мониторинг:</label>
                  <div class="checkbox-input-wrapper">
                    <input type="checkbox" autocomplete="off" id="whole_info_monitored_checkbox" class="whole-info-monitored-checkbox"></input>
                    <label id="whole_info_monitored_text"></label>
                  </div>
                </div>
              </div>
            </div>
            <div id="rightside_bar_tab_2" class="tab-pane">
              <div id="whole_info_logs_wrapper" class="logs-wrapper">

              </div>
            </div>
            <div id="rightside_bar_tab_3" class="tab-pane">
              <!-- Tasks content -->
            </div>
            <div id="rightside_bar_tab_4" class="tab-pane">
              <!-- Photo content -->
            </div>
          </div>
        </div>




        <div class="whole-info-buttons-wrapper">
          <div id="close_whole_info_button_bottom" class="close-whole-info-button-bottom">
            <div>Закрыть</div>
          </div>
          <div id="edit_device_button" class="whole-info-icon-button" data-toggle="tooltip" data-placement="top" title="Редактировать прибор">
            <img class="neutral-icon" src="<%= asset_path('edit_icon_neutral.svg') %>">
            <img class="hover-icon" src="<%= asset_path('edit_icon_hover.svg') %>">
          </div>
          <div id="save_changes_button" class="whole-info-icon-button save-changes-btn" data-toggle="tooltip" data-placement="top" title="Сохранить изменения">
            <img class="neutral-icon" src="<%= asset_path('save_icon_disk_neutral.svg') %>">
            <img class="hover-icon" src="<%= asset_path('save_icon_disk_hover.svg') %>">
          </div>
          <div id="whole_box_copy_info_button" class="whole-info-icon-button copy-info-btn" data-toggle="tooltip" data-placement="top" title="Скопировать данные">
            <img class="neutral-icon" src="<%= asset_path('copy_info_icon_neutral.svg') %>">
            <img class="hover-icon" src="<%= asset_path('copy_info_icon_hover.svg') %>">
          </div>
          <div id="whole_box_delete_button" class="whole-info-icon-button" data-toggle="tooltip" data-placement="top" title="Удалить прибор">
            <img class="neutral-icon" src="<%= asset_path('delete_icon_neutral.svg') %>">
            <img class="hover-icon" src="<%= asset_path('delete_icon_hover.svg') %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
