<div class="nav-bar">
  <div class="row">
    <div class="col-xl-2 col-lg-2 align-center">
      LOGO
    </div>
    <div class="col-xl-1 col-lg-1 align-center menu-wrapper">
      <%= image_tag "menu.png" %>
    </div>
    <div class="col-xl-6 col-lg-5 align-center search-wrapper">
      <%= image_tag "search.svg" %>
      <span>Поиск</span>
    </div>
    <div class="col-xl-3 col-lg-4 align-center info-wrapper">
      <div class="notifications-row align-center">
        <%= image_tag "bell.svg", class: "bell-img" %>
        <%= image_tag "envelope.svg", class: "envelope-img" %>
        <div class="align-center text-center avatar-wrapper">
          <%= image_tag "avatar2.png", class: "avatar-img" %>
        </div>
      </div>

      <div class="align-center group-row">
        <%= image_tag "group.png", class: "group-img" %>
      </div>

    </div>
  </div>
</div>
